@model Model.EntityCode.Transaction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Step)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOrig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOrig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldbalanceOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldbalanceOrg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewbalanceOrig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewbalanceOrig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldBalanceDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldBalanceDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewBalanceDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewBalanceDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFraud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFraud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType.TransactionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType.TransactionName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
